@import "imports/reset.css";

*,,
*::before,
*::after {
    box-sizing : border-box;
}

html, body {
    margin : 0;
    padding : 0;
}

.wrap {
    height : 100vh;
    width : 100vw;
    overflow: hidden;
    background: url('../img/bkg.png') left top repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#edit {
    width: 70rem;
    height: 95vh;
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 1rem;
        padding: 0;
        text-align: center;
        color: white;
        font-family: monospace;
        font-size: 1.5rem;
        font-weight: 700;
    }
    #type {
        margin: 0;
        padding: 0;
        text-align: center;

        .button {
            color: whitesmoke;
            border: 1px solid whitesmoke;
            background: transparent;
            margin: 0;
            margin-bottom: 5px;
            
            &:not(:last-child) {
                margin-right: 5px;
            }

            &.active {
                color: #333;
                background-color: whitesmoke;
            }
            &:hover {
                cursor: pointer;
            }
            &:active {
                scale: 0.9;
            }
            &:last-child {
                margin-top: 1px;
            }
        }
    }
    #editor {
        width: 100%;
        height: 100%;
        background: whitesmoke;
        overflow-y: scroll;
        padding: 2rem;
        font-size: 1.25rem;
        font-family: monospace;
        line-height: 2;
        caret-color: rgb(84,187,231);

        strong {
            color: red;
            text-decoration: line-through;
        }
        &:active, &:focus {
            outline: none;

        }
        &[contenteditable=true]:empty:before {
            content: attr(placeholder);
            display: block; /* For Firefox */
            color: #ccc;
        }
            }
    #checker {
        display: none;
        width: 100%;
        height: 100%;
        background: whitesmoke;
        overflow-y: scroll;
        padding: 2rem;
        font-size: 1.25rem;
        font-family: monospace;
        line-height: 2;
        caret-color: rgb(84,187,231);

        strong {
            color: red;
            text-decoration: line-through;
        }
        &:active, &:focus {
            outline: none;
        }
        &[contenteditable=true]:empty:before {
            content: attr(placeholder);
            display: block; /* For Firefox */
            color: #ccc;
        }
    }
    #evaluate {
        display: none;
        position: absolute;
        right: auto;
    }
    .footer {
        width: 74rem;
        display: flex; 
        justify-content: space-between;
        padding-top: 1rem;

        .about {
            font-family: sans-serif;
            font-size: 0.75rem;
            font-weight: 100;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            margin: 0;
        }
        .license {
            position: relative;
        }
    }
}

#about {
    display: none;
}

