{{ partial "header" . }}

<div class="wrap">
    <section>
        <article id="edit">
            <h1>E-Prime</h1>
            <div id="type">
                <button class="button editor active">Editor</button>
                <button class="button checker">Evaluator</button>
                <button class="button" id="evaluate" style="display: none;">&#x2714; Check</button>
            </div>
            <div id="editor" placeholder="Write..." contenteditable="true" style=""></div>
            <div id="checker" placeholder="Paste and click CHECK" contenteditable="true" style="display: none;"></div>
            <footer class="footer">
                <a class="about" href="#">About E-Prime</a>
                <div class="licence">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"></a>                
                </div>
            </footer>
        </article>
    </section>
    <div id="about">
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">E-Prime Editor and Writer</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tyandor.com" property="cc:attributionName" rel="cc:attributionURL">Tyler Andor</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br>Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://e-prime.space" rel="dct:source">http://e-prime.space</a>.
    </div>
</div>

{{ partial "footer" . }}

